* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #f5f5f5;
}
.box {
  --startDeg: 0deg;
  --endDeg: 100deg;
  --startDegDelta: -360deg;
  --endDegDelta: -260deg;
  --startPer: 0%;
  --endPer: 30%;

  position: relative;
  /* 这里必须设置z-index具体值即可，如果不设置无法显示设置较低层级伪元素中的内容，但需注意伪元素由于是会覆盖整个元素内容，不能设置比伪元素小的值，伪元素的z-index必须是负值 */
  z-index: 0;

  padding: 40px 40px;
  /* 隐藏超过盒子方位的元素 */
  overflow: hidden;

  color: #66ddf7;
  /* 通过padding将元素尽量设置成一个正方形，使得在动画过程中流水边框不容易看出区别 */

  font-size: 18px;

  background-color: #fff;
  border-radius: 20px;
}
@property --startDeg {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: true;
}
@property --endDeg {
  syntax: '<angle>';
  initial-value: 100deg;
  inherits: true;
}
@property --startDegDelta {
  syntax: '<angle>';
  initial-value: -360deg;
  inherits: true;
}
@property --endDegDelta {
  syntax: '<angle>';
  initial-value: -260deg;
  inherits: true;
}
.box::before {
  position: absolute;
  top: -50%;
  left: -50%;
  z-index: -20;

  width: 200%;
  height: 200%;
  /* background-color: #22292f; */

  background-image: conic-gradient(
      transparent var(--startDeg),
      #66ddf7,
      transparent var(--endDeg)
    ),
    conic-gradient(
      transparent var(--startDegDelta),
      #66ddf7,
      transparent var(--endDegDelta)
    );
  /* 设置动画 */
  /* animation: rotate 5s linear infinite; */
  /* transform-origin: 50% 50%; */

  animation:
    rotate 5s linear infinite,
    chBg 5s linear infinite;

  content: '';
  /* animation: chBg 5s linear infinite; */
}
@keyframes chBg {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    --startDeg: 0deg;
    --endDeg: 100deg;
    --startDegDelta: -360deg;
    --endDegDelta: -260deg;
  }

  100% {
    --startDeg: 360deg;
    --endDeg: 460deg;
    --startDegDelta: 0deg;
    --endDegDelta: 100deg;
  }
}
/* 伪元素设置为和盒子一样大，并且设置层级比盒子更高，这样伪元素就能覆盖在盒子之上 */
.box::after {
  position: absolute;
  z-index: -1;

  background-color: #000;
  border-radius: 20px;
  /* inset设置让其内缩 */

  inset: 4px;

  content: '';
}
