* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-family: Arial;
  line-height: 1.6;

  background-color: #f4f4f4;
}

.defs {
  position: absolute;
}

.content-wrapper {
  position: relative;
}

.box-wrapper {
  --start-deg: 0deg;

  position: relative;
  z-index: 10;

  min-width: 400px;
  min-height: 300px;
  padding: 10px;
}

@property --start-deg {
  inherits: true;
  initial-value: 0deg;
  syntax: '<angle>';
}

.box-wrapper::before {
  position: absolute;
  z-index: -10;

  background: repeating-conic-gradient(
    from var(--start-deg),
    #ff0,
    #0ff,
    #f0f,
    #ff0
  );
  border-radius: 20px;
  inset: 0;

  animation: rotating 4s linear infinite;

  content: '';
}

.box-wrapper::after {
  position: absolute;
  z-index: -5;

  background: repeating-conic-gradient(
    from var(--start-deg),
    #ff0,
    #0ff,
    #f0f,
    #ff0
  );
  border-radius: 20px;
  inset: 0;
  opacity: 0.75;
  filter: blur(40px);

  animation: rotating 4s linear infinite;

  content: '';
}

@keyframes rotating {
  0% {
    --start-deg: 0deg;
    /* filter: hue-rotate(0deg); */
  }
  100% {
    --start-deg: 360deg;
    /* filter: hue-rotate(360deg); */
  }
}

.box-wrapper .wrapper-content {
  width: 400px;
  padding: 20px;

  color: #fff;

  background: #222;
  border-radius: 16px;
}

.box-inner {
  --start-deg: -45deg;

  position: absolute;
  z-index: 15;

  width: 44px;
  height: 44px;
  padding: 10px;
  /* border-radius: 10px; */
  transform: translate(-12px, 36px) rotate(-45deg);

  clip-path: url(#myPath);
  /* clip-path使用时注意点：通过url使用svg路径时path中的点是相对点，直接书写path时是绝对点 */
  clip-path: path('M0,0L0,44L44,0Z');
}

.box-inner::before {
  position: absolute;
  z-index: -10;

  background: repeating-conic-gradient(
    from var(--start-deg),
    #ff0,
    #0ff,
    #f0f,
    #ff0
  );
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  inset: 0;

  animation: rotating 4s linear infinite;

  content: '';
}

.box-inner::after {
  position: absolute;
  z-index: 5;

  background: repeating-conic-gradient(
    from var(--start-deg),
    #ff0,
    #0ff,
    #f0f,
    #ff0
  );
  border-radius: 20px;
  inset: 0;
  opacity: 0.75;
  filter: blur(40px);

  animation: rotating 4s linear infinite;

  content: '';
}

.box-inner .inner-content {
  width: 100%;
  height: 100%;
  /* padding: 20px; */

  background: #222;
  /* border-radius: 16px; */
  /* inset: 10px; */
  /* transform: rotate(-45deg); */

}

.test {
  --width: 400;
  --height: 400;

  display: none;
  width: calc(var(--width) + 1px);
  height: calc(var(--height) + 1px);

  background: #222;
  border-radius: 10px;

  clip-path: path(
    'M0, 10 L 5, 5 L 5, 0 L 400, 0 L 400, 400 L 5, 400 L 5, 15 Z'
  );
  /* clip-path使用时注意点：通过url使用svg路径时path中的点是相对点，直接书写path时是绝对点 */
  clip-path: url(#myPath);
}
