* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background: #222;
}

.box-wrapper {
  --start-deg: 0deg;

  position: relative;

  width: 400px;
  height: 400px;
}

.box-wrapper::before,
.box-inner::before {
  position: absolute;

  background: repeating-conic-gradient(
    from var(--start-deg),
    #ff0,
    #0f0,
    #0ff,
    #00f,
    #f0f,
    #f00
  );
  border-radius: 20px;
  inset: 0;

  content: '';/* animation: rotating 4s linear infinite; */
}

.box-wrapper::before,
.box-wrapper::after {
  animation: rotating 4s linear infinite;
}

.box-wrapper::after,
.box-inner::after {
  position: absolute;

  background: repeating-conic-gradient(
    from var(--start-deg),
    #ff0,
    #0f0,
    #0ff,
    #00f,
    #f0f,
    #f00
  );
  border-radius: 20px;
  inset: 0;
  opacity: 0.75;
  filter: blur(40px);

  content: '';
}

.box-inner::before,
.box-inner::after {
  animation: rotating2 2s linear infinite;
}

.box-wrapper .wrapper-content {
  position: absolute;
  z-index: 1;

  margin: 0;
  padding: 20px;

  color: #fff;

  background: #222;
  border-radius: 16px;
  inset: 4px;
}

@property --start-deg {
  inherits: true;
  initial-value: 0deg;
  syntax: '<angle>';
}

@keyframes rotating {
  0% {
    --start-deg: 0deg;
  }

  100% {
    --start-deg: 360deg;
  }
}

@keyframes rotating2 {
  0% {
    --start-deg: -45deg;
  }

  100% {
    --start-deg: 315deg;
  }
}

.box-inner {
  --start-deg: -45deg;

  position: absolute;

  width: 150px;
  height: 150px;

  transform: translate(-60px, -100px) rotate(45deg);
  transform-origin: 0 0;
}

.box-inner .inner-content {
  position: absolute;
  z-index: 1;

  background: #222;
  border-radius: 16px;
  inset: 4px;
}
